body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdf9d0;
}

h1 {
    color: #ffffff;
    size: 15;
}

p {
    text-align: center;
    color: #1d1717
}

h2, h3{
    color: #090a09;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.bold-text {
    font-weight: bold;
  }

.breed-card {
    background-color: #fff;
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.breed-card img {
    max-width: 100%;
}

.text-container {
    margin: 0 auto;
    border: 1px solid #000;
    padding: 20px;
    width: 300px;
}

.image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

#contact {
    background-color: #f4f4f4;
    padding: 20px;
}

footer {
    background-color: #000000;
    color: rgb(99, 96, 96);
    text-align: center;
    padding: 20px;
  }

@media screen and (max-width: 768px) {
    .breed-card {
        margin: 10px;
    }

    .image {
        width: 50%;
    }
}